# Functions in Python

In [15]:
num=78
if    num%2==0:
    print("The number is even")
else:
    print("The num is odd")

The number is even

In [25]:
def even_odd(num):
    if num%2==0:
        print("The number is even")
    else:
            print("The number is odd")

In [26]:
even_odd(37)#if write without putting anything in bracket then it is error..inside brackets we have positional argument

The number is odd

In [28]:
#print vs return
def hello_world():
    print("Hello Welcome")

In [29]:
hello_world()

Hello Welcome

In [30]:
#Return returns something after it is being executed
val=hello_world()
print(val)

Hello Welcome
None

In [31]:
def add_number(num1,num2):
    return num1+num2

In [37]:
val=add_number(24,48)

In [38]:
val

72

In [39]:
def hello(name,age=29):
    print("My name is {} and age is {}".format(name,age))#if not put

In [40]:
hello('Shitij')#if not put anything inside the bracket and straight away type hello then error and will say missing positional argument

My name is Shitij and age is 29

In [41]:
def hello(*args,**kwargs):#first thing inside bracket is positional argument and second is keyword argument
    print(args)
    print(kwargs)

In [42]:
hello("Shitij","Jain",age=29,dob=1990)

('Shitij', 'Jain')
{'age': 29, 'dob': 1990}

In [45]:
lst=['Shitij','Jain']
dict_args={'age':29,'dob':1992}

In [46]:
hello(lst,dict_args)

(['Shitij', 'Jain'], {'age': 29, 'dob': 1992})
{}

In [47]:
hello(*1st,**dict_args)

SyntaxError: invalid syntax (<ipython-input-47-ae6407bce18d>, line 1)

In [56]:
lst=[1,2,3,4,5,6,7]

In [59]:
def evenoddsum(lst):
    even_sum=0
    odd_sum=0   
    for i in lst:
        if i%2==0:
            even_sum=even_sum+i
        else:
            odd_sum=odd_sum+i
    return even_sum,odd_sum

In [60]:
evenoddsum(lst)

(12, 16)

# Lambda Function T-13
Anonymous function and is called function with no name. It works faster than other functions

In [61]:
def addition(a,b):
    return(a+b)

In [62]:
addition(4,5)

9

In [63]:
#In the above scenario we can also do this by Lambda function
addition=lambda a,b:a+b #input functions and to the right what kind of operation is to be done with it

In [64]:
addition(12,14)

26

In [67]:
def even(num):
    if num%2==0:
        return True

In [68]:
even(22)

True

In [69]:
even1=lambda a:a%2==0

In [70]:
even1(14)

True

In [72]:
def addition(x,y,z):
    return x+y+z

In [73]:
addition(2,3,4)

9

In [74]:
addition=lambda x,y,z:x+y+z#if 2-3 lines of code in one single operation then it cannot be used

In [75]:
addition(2,3,4)

9

# Map Function In Python T-15

In [76]:
def even_or_odd(num):
    if num%2==0: 
        return "Even"
    else:
        return "Odd"

In [77]:
even_or_odd(19)

'Odd'

In [84]:
def even_or_odd(num):
    if num%2==0:
        return "The number {} is Even".format(num)
    else:
        return "The number {} is Odd".format(num)

In [85]:
even_odd(37)

The number is odd

In [86]:
lst=[1,2,3,4,5,6,7,8,9,24,56,78]

In [87]:
map(even_or_odd,lst)#lazy loading technique

In [88]:
 list(map(even_or_odd,lst))#first parameter is the function name and second is iterable

['The number 1 is Odd',
 'The number 2 is Even',
 'The number 3 is Odd',
 'The number 4 is Even',
 'The number 5 is Odd',
 'The number 6 is Even',
 'The number 7 is Odd',
 'The number 8 is Even',
 'The number 9 is Odd',
 'The number 24 is Even',
 'The number 56 is Even',
 'The number 78 is Even']

# Filter Function in Python-T-16

In [89]:
lst=[1,2,3,4,5,6,7,8,9,0]

In [90]:
list(filter(even,lst))

[2, 4, 6, 8, 0]

In [91]:
#Converting the function to lambda function
filter(lambda num:num%2==0,lst)

In [92]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 8, 0]